<h1>Listing buy_entries</h1>

<table>
  <tr>
    <th>Buy</th>
    <th>Product</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buy_entries.each do |buy_entry| %>
  <tr>
    <td><%= buy_entry.buy %></td>
    <td><%= buy_entry.product %></td>
    <td><%= buy_entry.amount %></td>
    <td><%= link_to 'Show', buy_entry %></td>
    <td><%= link_to 'Edit', edit_buy_entry_path(buy_entry) %></td>
    <td><%= link_to 'Destroy', buy_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buy entry', new_buy_entry_path %>
