#basket
  %h3= t('active_record.models.buy.latest')
  %div
    = "#{t('active_record.attributes.buy.buyer')}:"
    %span {{basket.buyer.username}}
  %div{'ng-hide'=>"basket.products.length"}
    %span= t('active_record.attributes.buy.products.none')
  %table{'ng-show'=>"basket.products.length"}
    %tr{'ng-repeat'=>"entry in basket.products"}
      %td {{entry.product.name}}
      %td
        %input.number-box{type:'text', 'ng-model'=>"entry.amount", min:1, step:1, 'ng-pattern'=>"/^[1-9]+$/"}
      %td
        %button{'ng-click'=>"basket.removeProduct($index)"}= t('generic.remove')
      %td
        %p.error-message{'ng-show'=>"basket.products.length", 'ng-show'=>"entry.error.length > 0"} {{entry.error}}
  %button{'ng-disabled'=>"!basket.canBuy()", 'ng-click'=>"basket.buy()"}= t('actions.buy')
  %button{'ng-show'=>"basket.hasProducts()", 'ng-click'=>"basket.clear()"}= t('actions.clear')

