%form.form-horizontal
  %legend{'ng-hide'=>'currentUser.isNew()'}=t('.update_header')
  %legend{'ng-show'=>'currentUser.isNew()'}=t('.create_header')
  .control-group
    %label.control-label{for:'userUsername'}
      = t('username', scope: 'activerecord.attributes.user')
    .controls
      %input{type: 'text', required:true, placeholder: "#{t('.username')}",
        'ng-model'=>'currentUser.attributes.username', id:'userUsername', 
        'ng-change'=>'currentUser.clearErrors("username")'}
        =render partial: 'application/error_paragraph',
                locals: {prefix: 'currentUser.', key: 'username'}
  .control-group
    %label.control-label{for:'userEmail'}
      = t('email', scope: 'activerecord.attributes.user')
    .controls
      %input{type: 'email', required:true, placeholder: "#{t('.email')}",
        'ng-model'=>'currentUser.attributes.email', id:'userEmail', 
        'ng-change'=>'currentUser.clearErrors("email")'}
        =render partial: 'application/error_paragraph',
                locals: {prefix: 'currentUser.', key: 'email'}
  .control-group{'ng-show'=>'currentUser.isNew()'}
    %label.control-label{for:'userPassword'}
      = t('password', scope: 'activerecord.attributes.user')
    .controls
      %input{type: 'password', required:true, placeholder: "#{t('.password')}",
        'ng-model'=>'currentUser.attributes.password', id:'userPassword', 
        'ng-change'=>'currentUser.clearErrors("password")'}
        =render partial: 'application/error_paragraph',
                locals: {prefix: 'currentUser.', key: 'password'}
  .control-group{'ng-show'=>'currentUser.isNew()'}
    %label.control-label{for:'userPasswordConfirmation'}
      = t('password_confirmation', scope: 'activerecord.attributes.user')
    .controls
      %input{type: 'password', required:true, placeholder: "#{t('.password_confirmation')}",
        'ng-model'=>'currentUser.attributes.password_confirmation', id:'userPasswordConfirmation', 
        'ng-change'=>'currentUser.clearErrors("password_confirmation")'}
        =render partial: 'application/error_paragraph',
                locals: {prefix: 'currentUser.', key: 'password_confirmation'}
  .control-group
    %label.control-label{for:'userBalance'}
      = t('balance', scope: 'activerecord.attributes.user')
    .controls
      %input{type: 'number', step:0.05,
        placeholder: "#{t('.balance')}", id:'userBalance', 
        'ng-model'=>'currentUser.attributes.balance',
        'ng-change'=>'currentUser.clearErrors("balance")'}
        =render partial: 'application/error_paragraph',
                locals: {prefix: 'currentUser.', key: 'balance'}
  .control-group
    .controls
      %label.checkbox{for:'userAdmin'}
        %input{type: 'checkbox', id:'userAdmin',
          'ng-model'=>'currentUser.attributes.admin',
          'ng-change'=>'currentUser.clearErrors("admin")'}
          =render partial: 'application/error_paragraph',
                  locals: {prefix: 'currentUser.', key: 'admin'}
        = t('admin', scope: 'activerecord.attributes.user')
  .control-group
    .controls
      =render partial: 'application/status', locals: {prefix: 'currentUser.'}
  .control-group
    .controls
      .btn-group
        %button.btn{'ng-click'=>'currentUser.cancelChanges()'}
          =t('.empty')
        %button.btn.btn-primary{'ng-click'=>'currentUser.save()'}
          %span{'ng-show'=>'currentUser.isNew()'}=t('.create')
          %span{'ng-hide'=>'currentUser.isNew()'}=t('.update')
