.control-group
  = form.label :email, :class => 'control-label'
  .controls
    = form.email_field :email
.control-group
  = form.label :password, :class => 'control-label'
  .controls
    = form.password_field :password 

-if devise_mapping.rememberable?
  .control-group
    .controls
      %label.checkbox
        = form.check_box :remember_me
        = t('activerecord.attributes.user.remember_me')

-if flash[:alert]
  %p.text-error= flash[:alert]
.control-group
  %button.btn.btn-primary{:type=>'submit'}= t('user.sign_in')

