<% if @buy.buyer.present? or @buy.buy_entries.present? %>
<div id="basket">
  <h2><%=t('buys.basket') %></h2>
  <%= form_for @buy do |buy_form| %>
    <div>
      <%= buy_form.hidden_field :buyer_id %>
      <%== t('buys.buyer', :username => "<span id=\"buyer_name\">#{@buy.buyer_username}</span>") %>
      <%= link_to t('buys.remove_buyer', :buyer => @buy.buyer), new_buy_path(:remove_buyer => @buy.buyer.id) if @buy.buyer.present?%>
    </div>
    <% if @buy.buy_entries.present? %>
      <table>
        <thead>
        <tr>
          <th><%= t('product.name') %></th>
          <th><%= t('buy.amount') %></th>
        </tr>
        </thead>
        <tbody>
          <% @buy.buy_entries.each do |buy_entry| %>
            <%= buy_form.fields_for :buy_entries, buy_entry do |entry_form| %>
            <tr>
              <td>
                <%= entry_form.hidden_field :product_id %>
                <span><%= buy_entry.product.name %></span>
              </td>
              <td>
                <%= entry_form.number_field :amount %>
              </td>
              <td>
                <%= link_to t('buys.remove_product'), new_buy_path(:remove_product => buy_entry.product.id) %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @buy.buyer.present? and @buy.buy_entries.present? %>
      <%= buy_form.submit %>
    <% end %>
  <%end %>
</div>

<% end %>