<h1>Listing buys</h1>

<table>
  <tr>
    <th>Buyer</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buys.each do |buy| %>
  <tr>
    <td><%= buy.buyer %></td>
    <td><%= buy.created_at %></td>
    <td><%= link_to 'Show', buy %></td>
    <td><%= link_to 'Edit', edit_buy_path(buy) %></td>
    <td><%= link_to 'Destroy', buy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buy', new_buy_path %>
