<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<%end %>
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<%end%>

<%= render 'users/buyer_list' %>
<%= render 'products/sale_list' %>
<%= render 'buys/basket' %>
<%= render 'buys/bought' %>
