<%= form_for(@product_entry) do |f| %>
  <% if @product_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_entry.errors.count, "error") %> prohibited this product_entry from being saved:</h2>

      <ul>
      <% @product_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :material %><br />
    <%= f.select :material_id, options_from_collection_for_select(Material.all, :id, :name) %>
    <%= link_to t('material.new'), new_material_path %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount, :value => 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
