<h1>Listing product_entries</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Material</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_entries.each do |product_entry| %>
  <tr>
    <td><%= product_entry.product %></td>
    <td><%= product_entry.material %></td>
    <td><%= product_entry.amount %></td>
    <td><%= link_to 'Show', product_entry %></td>
    <td><%= link_to 'Edit', edit_product_entry_path(product_entry) %></td>
    <td><%= link_to 'Destroy', product_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product entry', new_product_entry_path %>
