<h1>Listing materials</h1>

<table>
  <tr>
    <th>Unit</th>
    <th>Name</th>
    <th>Price in cents</th>
    <th>Alcohol per cent</th>
    <th>Stock</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td><%= material.unit %></td>
    <td><%= material.name %></td>
    <td><%= material.price_in_cents %></td>
    <td><%= material.alcohol_per_cent %></td>
    <td><%= material.stock %></td>
    <td><%= link_to 'Show', material %></td>
    <td><%= link_to 'Edit', edit_material_path(material) %></td>
    <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Material', new_material_path %>
