<p id="notice"><%= notice %></p>

<p>
  <b>Unit:</b>
  <%= @material.unit %>
</p>

<p>
  <b>Name:</b>
  <%= @material.name %>
</p>

<p>
  <b>Price:</b>
  <%= @material.price %>
</p>

<p>
  <b>Stock:</b>
  <%= @material.stock %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
