
.selection_window.material_section{'ng-show'=>"materials.selected"}
  .header
    %button 'ng-click'=>"materials.unselect()"X%/button
    %h3
      = t('materials.details')
      {{materials.selected.name}}
      
  %form{:name=>"material_form"}
    %ul
      %li
        %h4= t('materials.name')
        %span.content{'ng-hide'=>"materials.editing"} {{materials.selected.name}}
        %input{'ng-show'=>"materials.editing",
          'ng-model'=>"materials.selected.name",
          'required'=>'required'}

      %li
        %h4= t('materials.unit')
        %span.content{'ng-hide'=>"materials.editing"} {{materials.selected.unit}}
        %select{'ng-show'=>"materials.editing",
          'ng-model'=>"materials.selected.unit",
          'ng-options'=>"unit as lunit for (unit, lunit) in materials.localized_units",
          'required'=>'required'}

      %li
        %h4= t('materials.group')
        %span.content{'ng-hide'=>"materials.editing"} {{materials.selected.group}}
        %select{'ng-show'=>"materials.editing",
        'ng-model'=>"materials.selected.group",
        'ng-options'=>"group as lgroup for (group, lgroup) in materials.localized_groups",
        'required'=>'required'}

      %li
        %h4= t('materials.stock')
        %span.content{'ng-hide'=>"materials.editing"} {{materials.selected.stock}}
        %span{'ng-show'=>"materials.editing"}
          %input.number-box{:type=>"number",
          'ng-model'=>"materials.selected.stock",
          'ng-pattern'=>"/^\d+$/",
          'ng-show'=>"materials.editing",
          'required'=>'required'}
          %button{'ng-click'=>"materials.selected.stock=materials.selected.stock+24"}
            = t('materials.add.case')
          %button{'ng-click'=>"materials.selected.stock=0"}
            = t('materials.add.nullify')

      %li
        %h4= t('materials.price')
        %span.content{'ng-hide'=>"materials.editing"} {{materials.selected.price}}
        %input.number-box{:type=>"number",
          :min=>"0",
          :step=>"0.1",
          'ng-model'=>"materials.selected.price",
          'ng-pattern'=>"/^\d+(\.\d{1,2})?$/",
          'ng-show'=>"materials.editing",
          'required'=>'required'}

    .buttons
      %button{'ng-click'=>"materials.editing=true",
        'ng-hide'=>"materials.editing"}= t('generic.edit')
      %button{'ng-click'=>"materials.save()",
        'ng-show'=>"materials.editing",
        'ng-disabled'=>"material_form.$invalid || !materials.hasChanges()"}= t('generic.save')
      %span{'ng-show'=>"materials.hasChanges()"}= t('generic.unsaved_changes')