%div
  %h3= t('products.header')
  .search
    %span= t('generic.search_by_name')
    %input{:type=>"text",
      'ng-model'=>"currentProductText",
      'ng-change'=>"filter(products.collection, 'name', currentProductText)",
      'ng-list value'=>"{{currentProductText}}",
      'ng-init'=>"filter(products.collection, 'name', '')"}
    %button{'ng-click'=>"products.new()"}= t('products.create')
    
  %table
    %tr
      %th= t('products.name')
      %th= t('products.group')
      %th= t('materials.other')
      
    %tr.clickable{'ng-repeat'=>"product in products.collection",
      'ng-click'=>"products.select(product)"}
      %td {{product.name}}
      %td {{product.group}}
      %td
        %div{'ng-repeat'=>"entry in product.materials",
          'ng-hide'=>"entry.hidden"}
          %span {{entry.amount}}
          %span {{entry.material.name}}