.selection_window.product_section{'ng-show'=>"products.selected"}

  .header
    %button{'ng-click'=>"products.unselect()"} X
    %h3
      = t('products.product.selected')
      {{products.selected.name}}

  %form{:name=>"product_form"}
    %ul
      %li
        %h4= t('products.name')
        %span.content{'ng-hide'=>"products.editing"} {{products.selected.name}}
        %input{'ng-show'=>"products.editing", 'ng-model'=>"products.selected.name", 'required'=>"required"}

      %li
        %h4= t('products.unit')
        %span.content{'ng-hide'=>"products.editing"} {{products.selected.unit}}
        %select{'ng-show'=>"products.editing",'ng-model'=>"products.selected.unit",
                'ng-options'=>"unit as lunit for (unit, lunit) in products.localizedUnits", 'required'=>"required"}

      %li
        %h4= t('products.group')
        %span.content{'ng-hide'=>"products.editing"} {{products.selected.group}}
        %select{'ng-show'=>"products.editing", 'ng-model'=>"products.selected.group",
                'ng-options'=>"group as lgroup for (group, lgroup) in products.localizedGroups", 'required'=>"required"}

      %li
        %h4= t('products.stock')
        %span.content {{products.selected.stock}}

      %li
        %h4= t('products.description')
        %p{'ng-hide'=>"products.editing", 'ng-show'=>"products.description"} {{products.selected.description}}
        %p{'ng-hide'=>"products.editing", 'ng-hide'=>"products.selected.description"}= t('products.no_description')
        %textarea{'ng-show'=>"products.editing", 'ng-model'=>"products.selected.description"}

      %li
        %h4= t('materials.other')
        %div{'ng-repeat'=>"entry in products.selected.materials", 'ng-hide'=>"products.editing"}
          %p {{entry.amount}}
          %a{'ng-click'=>"materials.selectById(entry.material.id)"} {{entry.material.name}}
          
        %div{'ng-repeat'=>"entry in products.selected.materials", 'ng-hide'=>"entry.hidden", 'ng-show'=>"products.editing"}
          %div
            %input.number-box{:id=>"entry_{{entry.id}}", :min=>"1", :step=>"1", :type=>"number",
                    'ng-model'=>"entry.amount", 'ng-pattern'=>"/^[1-9]+$/", 'required'=>"required"}
            %a{'ng-click'=>"materials.selectById(entry.material.id)"} {{entry.material.name}}
            %button.small{'ng-click'=>"products.removeEntry($index)"}= t('generic.remove')

        %div{'ng-show'=>"products.editing", 'ng-init'=>"new_entry={amount: 1}"}
          %input.number-box{:type=>"number", :min=>"1", :step=>"1",
            'ng-model'=>"new_entry.amount", 'ng-pattern'=>"/^[1-9]+$/"}
          %select{'ng-model'=>"new_entry.material",
            'ng-options'=>"m as m.name for m in materials.collection",
            'ng-change'=>"products.addEntry(new_entry)"}

    .buttons
      %button{'ng-click'=>"products.editing=true", 'ng-hide'=>"products.editing"}= t('generic.edit')
      %button{'ng-click'=>"products.save()", 'ng-show'=>"products.editing",
              'ng-disabled'=>"product_form.$invalid || !products.hasChanges()"}= t('generic.save')
      %span{'ng-show'=>"products.hasChanges()"}= t('generic.unsaved_changes')