%alert.alert.alert-success{'ng-show'=>"#{prefix}status == 'create_success'"}
  = t('.create_success')
  %i.icon-ok
%alert.alert.alert-error{'ng-show'=>"#{prefix}status == 'create_failure'"}
  = t('.create_failure')
  %i.icon-warning-sign
%alert.alert.alert-success{'ng-show'=>"#{prefix}status == 'update_success'"}
  = t('.update_success')
  %i.icon-ok
%alert.alert.alert-error{'ng-show'=>"#{prefix}status == 'update_failure'"}
  = t('.update_failure')
  %i.icon-warning-sign
%alert.alert.alert-info{'ng-show'=>"#{prefix}status == 'nothing_changed'"}
  = t('.nothing_changed')
%alert.alert.alert-info{'ng-show'=>"#{prefix}.status == 'unsaved_changes'"}
  =t('.unsaved_changes')
  %i.icon-warning-sign
