%div{'ng-app'=>"Kassa"}
  = render 'authentication'

  .row{'ng-view'=>""}

  %script{:type=>"text/ng-template", :id=>"/partials/buys.html"}
    =render 'users/list'
    =render 'products/list'
    =render 'basket/list'
    =render 'buys/list'

:javascript
  window.prefixWithLocale = function(url){
    return "/#{I18n.locale}" + (url.indexOf('/') === 0 ? url : '/' + url)
  };
  window.Kassa={}
  window.Kassa.productUnits= eval("#{escape_javascript(Product.units.to_json.html_safe)}")
  window.Kassa.productGroups= eval("#{escape_javascript(Product.groups.to_json.html_safe)}")
  window.Kassa.materialUnits= eval("#{escape_javascript(Material.units.to_json.html_safe)}")
  window.Kassa.materialGroups= eval("#{escape_javascript(Material.groups.to_json.html_safe)}")

= javascript_include_tag "application"