<%= form_for(@product) do |product_form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><%= t('product.fields_title') %></legend>
    <div class="field">
      <%= product_form.label :name %><br />
      <%= product_form.text_field :name %>
    </div>
    <div class="field">
      <%= product_form.label :unit %><br />
      <%= product_form.select :unit, options_for_select(Unit.localized_units)%>
    </div>
    <div class="field">
      <%= product_form.label :description %><br />
      <%= product_form.text_area :description, :size => "30x5" %>
    </div>
  </fieldset>
  <% if @product.product_entries.present? %>
    <fieldset id="product_entries">
      <legend><%=t('product.product_entry.fields_title') %></legend>
      <div class="product_entry">
        <%= product_form.fields_for :product_entries do |entry_form| %>
          <div class="field">
            <%= entry_form.label :amount %><br />
            <%= entry_form.number_field :amount %>
          </div>
          <div class="field">
            <%= entry_form.label :material %><br />
            <%= entry_form.select :material, options_from_collection_for_select(Material.all, :id, :name) %>
          </div>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <div class="actions">
    <%= product_form.button t("product.#{@product.new_record? ? :create : :update}")%>
  </div>
<% end %>
