%fieldset.span12{'ng-controller'=>"ProductsController"}
  %legend
    %h3=t('active_record.models.product.other')
  =render :partial => 'application/search', :locals => {:model => 'product', :field=>'name'}
  .row-fluid
    .span12
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %tr
            %th{:title=>"#{t('sort.product.by_name')}",}
              = t('active_record.attributes.product.name')
            %th{:title=>"#{t('sort.product.by_stock')}",}
              = t('active_record.attributes.product.stock')
            %th{:title=>"#{t('sort.product.by_price')}"}
              = t('active_record.attributes.product.price')
        %tbody
          %tr{'ng-repeat'=>"product in products.collection",
            'ng-hide'=>"product.hidden"}
            %td
              %a{'ng-click'=>"basket.addProduct(product)",
                :title => t('basket.add.product')} {{product.name}}
            %td {{product.stock() | number}}
            %td {{product.price() | currency}}