%form.form-horizontal
  .control-group
    %label.control-label{for:'materialName'}
      = t('name', scope: 'activerecord.attributes.material')
    .controls
      %input{type:'text',required:true, placeholder: "#{t('.name')}", 
        'ng-model'=>'currentMaterial.attributes.name',
        'ng-change'=>'currentMaterial.clearErrors("name")'}
      =render partial: 'application/error_paragraph', 
              locals:{prefix: 'currentMaterial.', key: 'name'}
  .control-group
    %label.control-label{for:'materialGroup'}
      =t('group', scope: 'activerecord.attributes.material')
    .controls
      %select.chzn-select{id:'materialGroup',
        'ng-model'=>'currentMaterial.attributes.group', chosen:'',
        'data-placeholder'=>"#{t('.group')}", required:true, 
        'ng-change'=>'currentMaterial.clearErrors("group")'}
        -Material.localized_groups.each_pair do |group, translation|
          %option{name:"#{group}", value:"#{group}"}
            =translation
      =render partial: 'application/error_paragraph', locals:{prefix: 'currentMaterial.', key: 'group'}
  .control-group
    %label.control-label{for:'materialUnit'}
      =t('unit', scope: 'activerecord.attributes.material')
    .controls
      %select.chzn-select{id:'materialUnit',
        'ng-model'=>'currentMaterial.attributes.unit', 
        chosen:'currentMaterial.attributes.unit',
        'data-placeholder'=>"#{t('.unit')}", required:true, 
        'ng-change'=>'currentMaterial.clearErrors("unit")'}
        -Material.localized_units.each_pair do |unit, translation|
          %option{name:"#{unit}", value:"#{unit}"}
            =translation
      =render partial: 'application/error_paragraph', locals:{prefix: 'currentMaterial.', key: 'unit'}
  .control-group
    %label.control-label{for:'materialStock'}
      = t('stock', scope: 'activerecord.attributes.material')
    .controls
      %input{type:'number',required:true,
            'ng-model'=>'currentMaterial.attributes.stock',
            placeholder: "#{t('.stock')}", step:1, min:0,
            'ng-change'=>'currentMaterial.clearErrors("stock")'}
      =render partial: 'application/error_paragraph', locals:{prefix: 'currentMaterial.', key: 'stock'}
  .control-group
    %label.control-label{for:'materialPrice'}
      = t('price', scope: 'activerecord.attributes.material')
    .controls
      %input{type:'number',required:true,'ng-model'=>'currentMaterial.attributes.price', 
              step:0.05, min:0, placeholder:"#{t('.price')}", 
              'ng-change'=>'currentMaterial.clearErrors("price")'}
      %p.text-error{'ng-model'=>'errors.price', 'ng-show'=>'errors.price'}
      =render partial: 'application/error_paragraph', locals:{prefix: 'currentMaterial.', key: 'price'}
  .control-group
    .controls
      =render partial: 'application/status', locals: {prefix: 'currentMaterial.'}
