<div id="products">
  <h2><%= t('product.other') %></h2>
  <table>
    <thead>
    <tr>
      <th><%= t('product.name')%></th>
      <th><%= t('product.stock')%></th>
      <th><%= t('product.price')%></th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr id="product_<%= product.id %>">
        <td><%=product.name%></td>
        <td><%=product.stock%></td>
        <td><%=product.price%></td>
        <td><%= link_to t('buys.add_product_to_basket', :product => product), new_buy_path(:add_product => product.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>