<!DOCTYPE html>
<html>
<head>
  <title>Kassa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <% if user_signed_in? %>
    <%= javascript_include_tag "application" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <nav>
    <a data-route=""><%= t 'navigation.home' %></a>
  </nav>
<% end %>
<%= yield %>

</body>
</html>
